* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--dark-cyan: hsl(158, 36%, 37%);
	--cream: hsl(30, 38%, 92%);
	--very-dark-blue: hsl(212, 21%, 14%);
	--dark-grayish-blue: hsl(228, 12%, 48%);
	--white: hsl(0, 0%, 100%);
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.4rem;
	background-color: var(--cream);
}

.container {
	position: relative;
	max-width: 320px;
	background-color: var(--white);
	border-radius: 10px;
	overflow: hidden;
}

img {
	max-width: 100%;
}
.background-img-desktop {
	display: none;
}

.main-section {
	padding: 1em;
}

.intro {
	text-transform: uppercase;
	color: var(--dark-grayish-blue);
}

h1.title,
.price {
	font-family: 'Fraunces', serif;
}

h1.title {
	margin: 0.5em 0;
}

.text {
	color: var(--dark-grayish-blue);
}

.prices {
	display: flex;
	align-items: center;
	margin: 1em 0;
}

.price {
	width: 50%;
}

.current-price {
	font-size: 2.5rem;
	color: var(--dark-cyan);
}

.first-price {
	font-family: 'Montserrat', sans-serif;
	text-decoration: line-through;
	color: var(--dark-grayish-blue);
}

.btn {
	padding: 1em;
	width: 100%;
	border: none;
	border-radius: 10px;
	background-color: var(--dark-cyan);
	color: var(--white);
	cursor: pointer;
}

.btn:hover {
	background-color: hsl(159, 41%, 22%);
}

i {
	margin-right: 0.5em;
}

@media (min-width: 1440px) {
	.container {
		display: flex;
		max-width: 1000px;
		height: auto;
	}

	img {
		max-width: 50%;
	}

	.background-img-mobile {
		display: none;
	}

	.background-img-desktop {
		display: block;
	}

	.main-section {
		padding: 3em;
	}

	.intro,
	.text {
		margin-top: 1em;
		font-size: 2.5rem;
	}

	h1.title {
		margin: 0.5em 1em 0.5em 0;
		font-size: 5rem;
	}

	.prices {
		margin: 4em 0;
	}

	.current-price {
		font-size: 4rem;
	}

	.first-price {
		font-size: 2.5rem;
	}

	.btn {
		font-size: 2.5rem;
	}

	br {
		display: none;
	}
}